* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.work-container {
    background-color: #d6d8dc;
}

.container {
    position: relative;
}

.text {
    width: 500px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 30px;
}
.img img {
    width: 200px;
    height: 200px;
}
.text p {
    margin-bottom: 10px;
}

.icon-chi{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
}

.text h1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.icon-chi button {
    border: none;
    width: 30px;
    color: rgb(194, 194, 194);
}

.icon-chi button:nth-of-type(1) {
    width: 50px;
    height: 30px;
    background-color: #6b6767;
    color: white;
}

.icon-chi button:nth-of-type(6) {
    width: 50px;
    height: 30px;
    background-color: #5c5858;
    color: white;
}

.icon-chi span {
    text-align: center;
}
.container button {
    width: 100px;
    background: none;
    border: 2px solid white;
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: 20px;
    left: 30px;
}
