*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    background-color:rgb(218, 212, 212);
    height: 70px;
}
header .container ul{
    display: flex;
    list-style: none;
    gap: 60px;
}
header ul.sport li:nth-of-type(1){
    font-size: 30px;
    font-family: 'Brush Script MT';
    text-align: center;
}
header ul.sport li{
    text-align: center;
    color: rgb(31, 29, 29);
}
header ul.sport li:nth-of-type(2){
    text-align: center;
}
header ul.sport li:nth-of-type(3){
    opacity: 0.7;
}
header ul.sport li:nth-of-type(4){
    opacity: 0.7;
}
header ul.sport li:nth-of-type(5){
    opacity: 0.7;
}
header ul.sport li:nth-of-type(6){
    opacity: 0.7;
}
header ul.sport li:nth-of-type(7){
    opacity: 0.7;
}
header ul.sport li:nth-of-type(8){
    opacity: 0.7;
}
header ul.sport li button{
    background-color: gray;
    border-radius: 5px;
    color: rgb(238, 228, 228);
    padding: 5px;
    border: none;
    height:30px;
    width: 80px;
}