*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 8px;
    background-color: rgb(247, 242, 242);
}
.image{
    position: relative;
}
.image img{
    width: 100%;
    display: block;
}
.container .basketball{
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-weight: normal;
    width: 85px;
    height: 40px;
    text-align: center;
    padding: 10px;
    top: 10px;
    right: 10px;
    position: absolute;
}
.container .image {
    position: relative;
    width: 400px;
}
.container ul.name{
    list-style: none;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
}
.container ul.name img{
    border-radius: 100px;
    width: 50px;
    padding: 5px;
}
.container ul.name li:nth-of-type(2){
    padding: 15px;
}
.container p:nth-of-type(1){
    padding: 5px;
    opacity: 0.5;
}